body {
  background-color: rgb(248, 248, 248);

}


h1 {
  color: darkblue;
  text-align: center;
}

p {
  color: darkgray;
  text-decoration: double;
}

h2 {
  color: darkblue;
  text-align: left;
  font-size: larger;
}

h3 {
  color: darkblue;
  text-align: left;
  font-size: larger;
}

h4 {
  color: darkblue;
  text-align: left;
  font-size: larger;
}


/* Estilos CSS para las Listas Ordenadas y No Ordenadas */
.listas-container {
  display: flex;
  /* Para poner las dos secciones lado a lado */
  gap: 50px;
  /* Espacio entre las secciones */
  color: darkgray;
}

/* Estilos específicos para replicar los distintos tipos de viñetas/numeración */

/* Lista No Ordenada - Viñeta Circular (por defecto para <ul>) */
.ul-circle {
  list-style-type: circle;
  color: darkgray;
}

/* Lista No Ordenada - Viñeta Cuadrada */
.ul-square {
  list-style-type: square;
  color: darkgray;
}